{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Home</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam veniam voluptates fugiat perferendis deleniti. Aliquid, optio? Quibusdam explicabo optio minus autem, veniam animi! Eos dolorum doloremque rem sint, similique ut quisquam enim, accusamus recusandae cum quos eveniet! Perspiciatis, illum soluta tempore eos sunt asperiores corrupti quo fugit iusto perferendis. Debitis aut aliquam eligendi soluta nisi, officiis voluptas, temporibus delectus quidem illo, recusandae omnis aperiam fugit sint incidunt dolorum? Quo quaerat a obcaecati totam, nulla porro provident, nostrum, unde quis ducimus ad minus soluta et dicta dolores corporis sunt ipsa accusantium accusamus? Deleniti ipsum nesciunt assumenda quis fugit ab magni adipisci?</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Login
            </a>
            <a class="btn btn-secondary" href="/signup/">
                Singup
            </a>
        </div>
    </section>
</main>
{% endblock %}

